<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">新中新水控网关应用</span>
            </span>&nbsp; &nbsp;
        </div>
    </div>
</div>