<% layout('../../partials/pages-layout') %>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            asdfasf
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->